<div class="container mt-5">
  <div>
    <h1 class="text-center" style="font-size: xx-large;">Diabetic Retinopathy Details</h1>
    <div class="intro"> Diabetic retinopathy (DR) is a complication of diabetes which affects the vision of the patient. 
      It is one of the most common reasons for blindness in the working-age population of world. 
      Diabetic retinopathy is an eye disease, which occurs with long-standing untreated diabetes. 
      Progression to vision impairment can be slowed down or stopped if the disease is detected in time. 
      High blood glucose levels of a dsiabetic patient, 
      damage the retinal blood vessels causing them to leak which ultimately leads to blindness. </div>
  </div>
  <nav class="d-flex justify-content-center">
    <button class="btn btn-primary" routerLink="/chart">View Patient Charts</button>
  </nav>
  <router-outlet></router-outlet>
</div>

